.dashBoard-enter {
  height: 0;
  opacity: 0;
}
.dashBoard-enter-active {
  opacity: 1;
  height: 130px;
  transition: all 200ms;
}
.dashBoard-exit {
  opacity: 1;
  height: 130px;
}
.dashBoard-exit-active {
  opacity: 0;
  height: 0;
  transition: all 200ms;
}
