body {
    font-family: lato;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #111828;
    /* background-color: #111828; */
}
.navigation-container {
    padding: 0 10px;
}
